<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get those gainz!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="hero is-primary" style="background-color: transparent;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    <a href="/"><img src="/assets/logo.png" alt="Gainz!"></a>
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-item">
                    {{#if logged_in}}
                    <a href="/profile" class="button is-primary">profile</a>
                    <button class="button is-light" id="logout">logout</button>
                    {{else}}
                    <a href="/login" class="button is-primary">login</a>
                    {{/if}}
                </div>
            </nav>
        </div>
    </section>

    <main class="container mt-5">
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script>
        document.getElementById('search-input').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('search-btn').click();
            }
        });
    </script>
    
    <footer class="footer">
                <p>©2024 Deivid V, Iliyas M, Joseph M</p>
                <p><a href="https://github.com/jdmonticelli/Project2">Github Repo</a></p>  
    </footer>
</body>
</html>
