<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get those gainz!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/css/style.css">   
</head>
<body>
    <section class="hero is-primary" style="background-color: transparent;">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    <a href="/"><img src="/assets/logo.png" alt="Gainz!"></a>
                </h1>
            </div>
        </div>
    </section>
<section class="section">
    <div class="container">
        <div class="columns">
            <!-- Search Bar Column -->
            <div class="column is-three-quarters">
                <!-- Added form element here -->
                <form action="/results" method="GET">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input is-medium is-rounded" type="search" name="search" placeholder="Search for a muscle group here" id="search-input">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info is-medium" id="search-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Login Button Column -->
            <div class="column">
                {{#if logged_in}}
                <a href="/profile" class="button is-primary">profile</a>
                <button class="button is-light" id="logout">logout</button>
                {{else}}
                <a href="/login" class="button is-primary">Login</a>
                {{/if}}
            </div>
        </div>
    </div>
</section>

<section>
    <main class="container mt-5">
        {{{body}}}
    </main>
</section>

<section>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</section>
    
    <footer class="footer">
        <p>©2024 Deivid H, Iliyaas M, Joseph M</p>
        <p><a href="https://github.com/jdmonticelli/Gainz">Github Repo</a></p>  
    </footer>
    <script src="/js/search.js"></script>
</body>
</html>
