<section>
<div class="box">
<p class="is-size-1 has-text-centered has-text-weight-bold">Are you ready to GET SOME GAINZ?!</p>
&nbsp;
<p>Gainz is an interactive fullstack web application developed for the sole purpose of helping you find the workout you need! Type the muscle group you want to find a workout for in the Search bar above to get a list of workouts that cover that muscle group, the equipment you need, and links to sample videos.</p>
&nbsp;
<p class="is-family-monospace">Muscle groups currently supported: biceps, triceps, chest, back, legs, abs, stretching, warm up, lats, hamstring, calves, quadriceps, trapezius, shoulders, glutes</p>
</div>
</section>