<form action="/results" method="GET">
    <input type="search" name="search" placeholder="Search for a muscle group here" id="search-input">
    <button type="submit" id="search-btn">Search</button>
</form>
<script src="/js/search.js"></script>
