<body>
  <section class="section">
    <div class="container">
      <!-- Box for title -->
      <div class="box">
        <h1 class="title">WORKOUT FINDER</h1>
      </div>

      <!-- Flexbox Container for Links -->
      <div style="display: flex; flex-direction: column; align-items: stretch;">
        <a href="#" class="button is-fullwidth is-info is-light mb-2">Workout Link 1</a>
        <a href="#" class="button is-fullwidth is-info is-light mb-2">Workout Link 2</a>
        <a href="#" class="button is-fullwidth is-info is-light mb-2">Workout Link 3</a>
        <a href="#" class="button is-fullwidth is-info is-light mb-2">Workout Link 4</a>
        <a href="#" class="button is-fullwidth is-info is-light mb-2">Workout Link 5</a>
      </div>
    </div>
  </section>
</body>