<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box has-shadow">
                    <form action="/results" method="GET">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-medium is-rounded" type="search" name="search" placeholder="Search for a muscle group here" id="search-input" style="width: 100%;">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info is-medium" id="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/search.js"></script>
