<div class="container">
    <div class="panel">
        <p class="panel-heading">
            Track your GAINZ!
        </p>

        <!-- Tabs -->
        <div class="tabs is-boxed is-fullwidth">
            <ul>
                <li class="is-active" data-tab="loginTab"><a>Login</a></li>
                <li data-tab="signupTab"><a>Signup</a></li>
            </ul>
        </div>

        <!-- Login Form Panel Block -->
        <div id="loginTab" class="panel-block tab-content is-active">
            <div class="content">
                <h3>Login</h3>
                <!-- Login form -->
                <form class="form login-form">
                    <!-- Form content -->
                    <div class="form-group">
                        <label for="email-login">username:</label>
                        <input class="form-input" type="text" id="username-login" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">password:</label>
                        <input class="form-input" type="password" id="password-login" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Signup Form Panel Block -->
        <div id="signupTab" class="panel-block tab-content">
            <div class="content">
                <h3>Signup</h3>
                <!-- Signup form -->
                <form class="form signup-form">
                    <!-- Form content -->
                    <div class="form-group">
                        <label for="name-signup">username:</label>
                        <input class="form-input" type="text" id="username-signup" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
