<div class="box">
<p class="is-size-1 has-text-centered has-text-weight-bold">Welcome, {{username}}!</p>
&nbsp;
<p class="is-family-monospace">COMING SOON: Favorite Workouts and Calendar (check back real soon!!!! :D</p>
  </div>
<script src="./js/profile.js"></script>
